header{
    background-color: aliceblue;
}
body {
    background: rgb(235, 232, 213);
    background-size: 100%;
    background-position: center;
}

div {
    margin-left: 10%;
}

container {
    background-color: rgba(0, 0, 0, 0);
}

img {
    width: 80%;
}

footer {
    position: fixed bottom;
}