html {
    background: rgb(235, 232, 213);
    background-size: 100%;
    background-position: center;
}

div {
    margin-left: 10%;
}

img {
    width: 80%;
}

footer {
    position: fixed bottom;
}